.contact{
    background-color: royalblue;
    height: 35vh;
    display:flex;
    flex-direction: column;
}

.contact__title{
    margin-top:0px;
    margin-bottom: 50px;
}

.contact__icons{
    margin: 30px;
}

.contact__icons i{
    margin-left:20px;
}