.works{
    width:100%;
    background: no-repeat url("/image/works\ bg.png");
    background-size: cover;
    height: 80vh;
}

.category-btns{
    margin-bottom: 30px;
    margin-top:20px;
}

.category-btns .category-btn{
    all:unset;
    cursor: pointer;
    font-size: 15px;
    width:100px;
    height:20px;
    padding:2px 15px;
    background-color: transparent;
    border-radius: 4px;
    margin-right:10px;
    position:relative;
    border:1px solid rgba(0, 0, 0, 0.163);
}

.category-btns .category-btn:hover{
    box-shadow: 2px 2px 5px black;
}

.count{
    background-color: tomato;
    display:block;
    width:20px;
    height:20px;
    border-radius: 50%;
    color:white;
    position:absolute;
    top:-10px;
    right:10px;
}

.projects{
    display:flex;
    width:100%;
    justify-content: center;
    opacity: 1;
    transition: all .2s linear;
}

.projects .anim-out{
    opacity: 0;
    transform: scale(0.8) translateY(40px);
}

.project{
    position:relative;
    flex-basis:calc(100%/5);
    height: 250px;
    margin:0px 10px;
}


.project:hover .hover-bg{
    opacity:1;
    animation: hoverBg .3s linear;
}

@keyframes hoverBg {
    from{opacity: 0};
    to{opacity: 1};
}

.projects img{
    width:100%;
    height:100%;
    background-size:cover;
}

.hover-bg{
    background-color: rgba(0, 0, 0, 0.731);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.hover-bg h4{
    margin-top: 20px;
    color:rgba(197, 195, 195, 0.993);
}

.hover-bg h3{
    margin-bottom: 20px;
}

.hover-bg .line{
    width:30px;
    height: 1px;
    background-color: white;
    margin:0 auto;
}

.hide{
    display:none;
}

